<div class="row">
<div class="col-lg-3">
</div>
<div class="col-lg-6">
  <div class="col-lg-12">
    {{#if success_msg}}
      <div class="alert alert-success ">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger ">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger ">{{error}}</div>
    {{/if}}
  </div>
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">Setting</h4>
        </div>
        <div class="card-body">
            <form action="/setting" method="post">
                <div class="form-body">
                  <h3 class="box-title m-t-40">基本设置</h3>
                  <hr>
                    <div class="row p-t-20">
                      <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">测试集比例</label>
                                <input type="text" id="test_size" name="test_size" class="form-control" placeholder="" required="required" value="{{datax.test_size}}">
                                <small class="form-control-feedback">  </small> </div>
                        </div>
                        <!--/span-->

                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">迭代次数</label>
                              <input type="text" id="i_time" name="i_time" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.i_time}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <h3 class="box-title m-t-40">规则</h3>
                    <hr>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">not_ig</label>
                              <input type="text" id="not_ig" name="not_ig" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.not_ig}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_all</label>
                              <input type="text" id="ig_all" name="ig_all" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_all}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_01</label>
                              <input type="text" id="ig_01" name="ig_01" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_01}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_10</label>
                              <input type="text" id="ig_10" name="ig_10" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_10}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_23</label>
                              <input type="text" id="ig_23" name="ig_23" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_23}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_12</label>
                              <input type="text" id="ig_12" name="ig_12" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_12}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                          <div class="form-group has-danger">
                              <label class="control-label">ig_13</label>
                              <input type="text" id="ig_13" name="ig_13" class="form-control form-control-danger" placeholder="" required="required" value="{{datax.ig_13}}">
                              <small class="form-control-feedback">  </small> </div>
                      </div>
                    </div>

                    <!--/row-->

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success" id="save_info"> <i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-inverse" onclick="history.back(-1)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
