<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> -->
    <title>先心病关系分析和诊断</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/lib/jquery/jquery.min.js"></script>
</head>

<style>
img {
    max-width: 100%;
    max-height: 100%;
    /*align-items: center;*/
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }
</style>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <!-- <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <!-- <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span> -->
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <!-- User profile and search -->

                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label" style="color=red;font-size:40px">菜单栏</li>
                        <li> <a class="nav-label  " href="/" style="font-size:20px"><i class="fa fa-tachometer"></i><span class="hide-menu">模型总览 </span></a></li>
                        
                        <li> <a class="has-arrow" href="#" aria-expanded="true" style="font-size:20px"><i class="fa fa-tasks"></i><span class="hide-menu">环境因素分析</span></a>
                          <ul class="list">
                            {{#each data_f}}
                              <li><a href="{{url}}" style="font-size:20px">{{name}}</a></li>
                            {{/each}}
                          </ul>
                        </li>

                        <li> <a class="has-arrow" href="#" aria-expanded="true" style="font-size:20px"><i class="fa fa-tasks"></i><span class="hide-menu">环境因素诊断</span></a>
                          <ul class="list">
                            {{#each data_z}}
                              <li><a href="{{url}}" style="font-size:20px">{{name}}</a></li>
                            {{/each}}
                          </ul>
                        </li>

        


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                          <div class="container-fluid">
                              <!-- Start Page Content -->
                              <div class="row">
                                  <div class="col-md-2">
                                      <div class="card bg-primary p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="fa fa-check f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right" onclick="window.location.href='/get_result?al={{filename}}&page=0'" style="cursor:pointer">
                                                  <h2 class="color-white" id="auc">-</h2>
                                                  <p class="m-b-0">AUC</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="card bg-pink p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="ti-flag f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right" style="cursor:pointer">
                                                  <h2 class="color-white" id="thresholds">-</h2>
                                                  <p class="m-b-0">Thresholds</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="card bg-success p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="fa fa-clock-o f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right">
                                                  <h2 class="color-white" id='acc'>-.-%</h2>
                                                  <p class="m-b-0" >Accuracy</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-2">
                                      <div class="card bg-danger p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="fa fa-bar-chart f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right" style="cursor:pointer">
                                                  <h2 class="color-white" id="pre">-</h2>
                                                  <p class="m-b-0" >Precision</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-2">
                                      <div class="card bg-success p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="fa fa-superscript f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right">
                                                  <h2 class="color-white" id='rec'>-.-%</h2>
                                                  <p class="m-b-0" >Recall</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-2">
                                      <div class="card bg-danger p-20">
                                          <div class="media widget-ten">
                                              <div class="media-left meida media-middle">
                                                  <span><i class="ti-alert f-s-40"></i></span>
                                              </div>
                                              <div class="media-body media-text-right">
                                                  <h2 class="color-white" id='f1_score'>-.-%</h2>
                                                  <p class="m-b-0" >F1_score</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>











<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>性能解析</h4>
                </div>
                <div class="card-content">
                    <div id="char0" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" ></div>
                </div>
            </div>
      </div>
      <div class="col-lg-6">
          <div class="card">
              <div class="card-title">
                  <h4>ROC曲线</h4>
              </div>
              <div class="card-content">
                  <div id="char3" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" >
                      <img class="displayed" src="images/{{img_path}}"  alt="ROC" />
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
                <ul id="line_nav" class="nav nav-tabs card-header-tabs" style="text-align:center">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="change_line(this,'auc')">AUC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="change_line(this,'thresholds')">Thresholds</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="change_line(this,'acc')">Accuracy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" onclick="change_line(this,'pre')">Precsion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="#" onclick="change_line(this,'rec')">Recall</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="change_line(this,'f1_score')">F1_score</a>
                  </li>
                </ul>
              </div>
              <div class="card-content">
                  <div id="char1" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" ></div>
              </div>
          </div>
      </div>


        <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                  <ul id="bar_nav" class="nav nav-tabs card-header-tabs" style="text-align:center">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" onclick="change_bar(this,'auc')">AUC</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" onclick="change_bar(this,'thresholds')">Thresholds</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" onclick="change_bar(this,'acc')">Accuracy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="#" onclick="change_bar(this,'pre')">Precision</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="#" onclick="change_bar(this,'rec')">Recall</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" onclick="change_bar(this,'f1_score')">F1_score</a>
                    </li>
                  </ul>
                </div>
                <div class="card-content">
                    <div id="char2" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" ></div>
                </div>
            </div>
      </div>
    </div>

<script src="js/lib/jquery/jquery.min.js"></script>
<script src="js/lib/echart/echarts.js"></script>
<script src="js/lib/echart/echarts-init.js"></script>

<script type="text/javascript">
    var myChart0 = echarts.init(document.getElementById('char0'));
    var option0 = {
      backgroundColor: "#ffffff",
      color: ["#37A2DA"],
      tooltip: {},
      xAxis: {
      show: false
    },
      yAxis: {
      show: false
    },
      radar: {
        shape: 'circle',
        name: {
            textStyle: {
                color: '#999999',
            }
        },
        splitArea: {
            areaStyle: {
                color: ['#fff', '#fff', '#fff', '#fff'],
                shadowColor: '#37A2DA'
            }
        },
        indicator: [{
                name: 'AUC',
                max: 1
            },
            {
                name: 'Thresholds',
                max: 1
            },
            {
                name: 'Accuracy',
                max: 1
            },
            {
                name: 'Precision',
                max: 1
            },
            {
                name: 'Recall',
                max: 1
            },
            {
                name: 'F1_score',
                max: 1
            }
        ]
    },
      series: [{
        type: 'radar',
        data: [{
            value: [0, 0, 0, 0, 0, 0],
            name: '数据',
            itemStyle: {
                normal: {
                    color: 'rgba(5, 128, 242, 0.8)'
                }
            },
            areaStyle: {
                normal: {
                    color: '#37A2DA'
                }
            }
        }]
    }]
    }
    myChart0.setOption(option0);
    var update_chart0 = (server_data) => {
      console.log("in update_chart0");
      option0.series[0].data[0].value[0] = (server_data.auc).toFixed(2)
      option0.series[0].data[0].value[1] = (server_data.thresholds).toFixed(2)
      option0.series[0].data[0].value[2] = server_data.acc.toFixed(2)
      option0.series[0].data[0].value[3] = server_data.pre.toFixed(2)
      option0.series[0].data[0].value[4] = server_data.rec.toFixed(2)
      option0.series[0].data[0].value[5] = (server_data.f1_score*1).toFixed(2)
      myChart0.setOption(option0, true);
    }

    var myChart1 = echarts.init(document.getElementById('char1'));
    option1 = {
      backgroundColor: "#fff",
      color: ["#37A2DA"],
      tooltip: {
        trigger: 'axis'
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['第1次', '第2次', '第3次', '第4次', '第5次', '第6次', '第7次']
      },
      yAxis: {
        x: 'center',
        type: 'value',
      },
      series: [{
        name: '表现',
        type: 'line',
        data: [0, 0, 0, 0, 0, 0, 0]
      }]
    };
    myChart1.setOption(option1);
    var update_chart1 = (server_data,length,index) => {
      console.log("in update_chart1");
      option1.series[0].data = []
      option1.xAxis.data = []
      for(let i = 0;i < length;i++){
        let j = i + 1
        option1.xAxis.data.push(j+"th Fold")
        option1.series[0].data.push(server_data[i][index])
        myChart1.setOption(option1, true);
      }

      console.log(option1.xAxis.data);
      console.log(option1.series[0].data);
      console.log("in update_chart1");
    }

    var myChart2 = echarts.init(document.getElementById('char2'));
    option2 = {
      backgroundColor: "#ffffff",
      color: ['#37A2DA'],
      tooltip: {
          trigger: 'axis',
          axisPointer: {
              type: 'shadow'
          }
      },
      grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
      },
      xAxis: [{
          type: 'category',
          data: ['第1次', '第2次', '第3次', '第4次', '第5次', '第6次', '第7次'],
          axisTick: {
              alignWithLabel: true
          }
      }],
      yAxis: [{
          type: 'value'
      }],
      series: [{
          name: 'Data',
          type: 'bar',
          barWidth: '70%',
          data: [0, 0, 0, 0, 0, 0, 0]
      }]
  }
  myChart2.setOption(option2);
  var update_chart2 = (server_data,length,index) => {
    console.log("in update_chart2");
    option2.series[0].data = []
    option2.xAxis[0].data = []
    for(let i = 0;i < length;i++){
      let j = i + 1
      option2.xAxis[0].data.push(j+"th Fold")
      option2.series[0].data.push(server_data[i][index])
      myChart2.setOption(option2, true);
    }

    console.log(option1.xAxis.data);
    console.log(option1.series[0].data);
    console.log("in update_chart1");
  }


  $(window).on('resize',function(){
    myChart0.resize();
    myChart1.resize();
    myChart2.resize();
    //myChart3.resize();
  });


    var get_all_data = () => {
        filename = "{{filename}}"
        $.ajax({
              url:"/get_run_output_api",
              type:"POST",
              data:{filename:filename},
              success:(data) =>{
                  window.server_data = data
                  last_index = data.length-1
                  $('#rec').html(Math.round(data[last_index].rec*10000)/100+'%')
                  $('#pre').html(Math.round(data[last_index].pre*10000)/100+'%')
                  $('#acc').html(Math.round(data[last_index].acc*10000)/100+'%')
                  $('#auc').html(Math.round(data[last_index].auc*10000)/10000)
                  $('#f1_score').html(Math.round(data[last_index].f1_score*10000)/100+'%')
                  $('#thresholds').html(Math.round(data[last_index].thresholds*10000)/10000)
                  console.log('11111111111111')
                  update_chart0(data[last_index])
                  update_chart1(data,last_index,"auc")
                  update_chart2(data,last_index,"auc")
              },
              error:(xhr,status,error)=>{
                console.log("what error??");
                console.log(error)
              }
            })
    }

      /*
      $.ajax({
            url:"/get_base_number_api",
            type:"POST",
            success:(data) =>{
              $("#flights_number").html(data.flights_number)
              $("#slots_number").html(data.slots_number)
            }
          })
        */
      get_all_data()

      //setInterval(get_all_data,50000)

      function change_line(obj,index){
        $('#line_nav').find('a').attr('class','nav-link')
        update_chart1(window.server_data,window.server_data.length-1,index)
        $(obj).attr('class','nav-link active')
      }

      function change_bar(obj,index){
        $('#bar_nav').find('a').attr('class','nav-link')
        update_chart2(window.server_data,window.server_data.length-1,index)
        $(obj).attr('class','nav-link active')
      }

</script>




















                            {{{body}}}
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2020 All rights reserved. </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->

    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/scripts.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

</body>

</html>
